<div><%= flash[:alert] %></div>

<% if current_user %>
  <p>Welcome back <%= current_user.first_name %>!</p>
  
  <p><a href="/yarii">Open Yarii Dashboard</a></p>

  <p><%= link_to 'Logout', logout_path, method: :post %></p>
<% else %>
  <p><a href="/login">Login to use Yarii</a><p>
<% end %>

